<h1>All USERS</h1>
<hr>
<br>
<% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.avatar.url(:small) %></td>
    <td><%= link_to user.username, user_path(user.id) %></td>
  </tr>
<br>
<hr>
<% end %>
<br>
<%= link_to "Go Home", "/" %>